In [5]:
#create
t1=()
t2=10,
t3=10,20,30,40
t4=tuple(range(10))

print(t1)
print(t2)
print(t3)
print(t4)

print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

()
(10,)
(10, 20, 30, 40)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [2]:
t2=(10,10,"Mon","Tue","Wed")
print(t2)

(10, 10, 'Mon', 'Tue', 'Wed')

In [6]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
print(enames[0])

Rahul

In [7]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
for name in enames:
    print(name)

Rahul
Sonia
Priyanka
Modi
Amith
Rajni

In [9]:
enames=('Rahul','Sonia','Priyanka','Modi','Amith','Rajni')
i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priyanka
Modi
Amith
Rajni

In [10]:
months=("Jan","Feb","March","May")
print(months)

('Jan', 'Feb', 'March', 'May')

In [11]:
#attribute error- no update operation

months=("Jan","Feb","March","May")
print(months)
months.append("June")

('Jan', 'Feb', 'March', 'May')

AttributeError: 'tuple' object has no attribute 'append'