In [9]:
ename = "Rahul"
for ele in ename:
    print(ele)

R
a
h
u
l

In [5]:
enames = ["Rahul","Sonia","Priyanka"]
for ele in enames:
    print(ele)

Rahul
Sonia
Priyanka

In [6]:
t=(10,20,30)
for ele in t:
    print(ele)

10
20
30

In [7]:
eids = {101,102,103,104,105}
for ele in eids:
    print(ele)

101
102
103
104
105

In [28]:
emp={
    'id':101,
    'name':'Rahul',
    'sal':45000
}
for key,value in emp.items():   #to print both key and value should use items() method
    print(key,":",value)

id : 101
name : Rahul
sal : 45000

In [29]:
#to print number 1-10
for x in range(1,11,1):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [11]:
for x in range(5,51,1):
    print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
for x in range(100, 50, -1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [24]:
#to print 5 table
for i in range(1,11):
    print(5,"*",i,"=",5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [23]:
#to print first 10 even numbers with tab space
for i in range(0,20,2):
    print(i,end='\t')

0	2	4	6	8	10	12	14	16	18