In [1]:
d={}
print(type(d))

<class 'dict'>

In [5]:
emp = {
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp)

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}

In [8]:
emp = {
    'eid':101,
    'eid':102,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp)

{'eid': 102, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}

In [12]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}
print(emp['eid'])

101

In [16]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}
print(emp['eid'])
print(emp['ename'])
print(emp['esal'])
print(emp['avail'])

101
Rahul
45000.92
True

In [18]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}
print(emp.get('eid'))

101

In [20]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}

for key in emp.keys():
    print(key)

eid
ename
esal
avail

In [23]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}

for value in emp.values():
    print(value)

101
Rahul
45000.92
True

In [25]:
emp = {   
    'eid':101,
    'ename':'Rahul',
    'esal':45000.92,
    'avail':True
}

for key,value in emp.items():
    print(key,value)

eid 101
ename Rahul
esal 45000.92
avail True