In [3]:
#create list object
l1=[10,20,30,40,50]
print(l1)
print(type(l1))

[10, 20, 30, 40, 50]
<class 'list'>

In [5]:
l2=[10,10,10,20.5,"Rahul",True,[],{}]
print(l2)
print(type(l2))

[10, 10, 10, 20.5, 'Rahul', True, [], {}]
<class 'list'>

In [6]:
eids=[101,102,103,104]
#index 0 1 2 3
print(eids[0])
print(eids[1])
print(eids[2])
print(eids[3])

101
102
103
104

In [8]:
eids=[101,102,103,104]
#index  0  1  2  3
#index -4 -3 -2 -1
print(eids[0])
print(eids[-1])
print(eids[-2])
print(eids[-3])
print(eids[10]) #list index out of range

101
104
103
102

IndexError: list index out of range

In [10]:
enames = ["Rahul","Sonia","Priyanka","Modi"]
for ename in enames:
    print(ename)

Rahul
Sonia
Priyanka
Modi

In [11]:
enames = ["Rahul","Sonia","Priyanka","Modi"]
i=0
while i<=3:
    print(enames[i])
    i=i+1

Rahul
Sonia
Priyanka
Modi

In [16]:
#list objects using while loop
marks = [35,36,37,38,39,40]
sum=0
i=0
while i<=5:
    sum=sum+marks[i]
    i=i+1
print(sum)

225

In [15]:
#list objects using for loop
marks = [35,36,37,38,39,40]
sum=0
i=0
for mark in marks:
    sum=sum+mark
    
print(sum)

225

In [20]:
#how ro create/diff ways to create list object
l1=[]
l2=[10,20,30,40]
l3= list(range(0,5))
print(l1,l2,l3)

l4= eval(input("Enter Data"))
print(l4)
print(type(l4))

[] [10, 20, 30, 40] [0, 1, 2, 3, 4]

Enter Data [10,20,30,40]

[10, 20, 30, 40]
<class 'list'>

In [22]:
l1=[10,20,30,40,10]
print(len(l1))

5

In [28]:
enames=["Rahul","Sonia","Priya","Rajini"]
print(enames.index("Sonia"))

1